<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Library Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/authors}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/genres}">Genres</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1>Система керування бібліотекою</h1>
        <p>Керуйте книгами, авторами та жанрами  бібліотеки.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Автори</h5>
                    <p class="card-text">Керування інформацією авторів</p>
                    <a th:href="@{/authors}" class="btn btn-primary">Змінити</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Книжки</h5>
                    <p class="card-text">Керування каталогом книг</p>
                    <a th:href="@{/books}" class="btn btn-success">Змінити</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Жанри</h5>
                    <p class="card-text">Керування інформацією жанрів</p>
                    <a th:href="@{/genres}" class="btn btn-info">Змінити</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>